<div class="container mt-5 p-4 mx-auto bg-white text-dark" style="width: 468px;">
<% @teachers.each do |teacher| %>
    <h4 class="m-2 p2"><%= teacher.lname %>, <%= teacher.fname %></h4>
        <a href="/teachers/<%= teacher.slug %>" ><button class="btn btn-primary btn-sm">Profile</button></a>
    <% end %>
</div>