<h2>Create your account here:</h2>

<form action='/signup' method="POST">
    <p>
            <label for="username">Username: </label>
            <input type="text" name="username" id='username'><br>
    </p>
    <p>
            <label for="fname">First Name: </label>
            <input type="text" name="fname" id="fname"><br>
    </p>
    <p>
            <label for="lname">Last Name: </label>
            <input type="text" name="lname" id="lname"><br>
    </p>
    <p>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password"><br>
    </p>

            <input type='submit' value='Create Account'>
</form><br><br>
<label for="LogIn">Teachers Log In Here:</label>
<p><a href="/login" ><button>Log In</button></a></p>