<h2>Welcome to EZGradebook!</h2>
<label for="LogIn">Teachers Log In Here:</label>
<p><a href="/login" ><button>Log In</button></a></p>

<label for="Signup">Don't have and account?</label>
<p><a href="/signup" ><button>Sign Up</button></a></p>
