<h2>Welcome to EZGradebook!</h2>
<form action="/login" method="GET"> 
    <label for="LogIn">Teachers LogIn Here:</label>
    <button>LogIn</button></h4>
</form>
<form action="/signup" method="GET">
    <label for="Signup">Don't have and account?</label>
    <button>Signup</button></h4>
</form>